.c-main {

	&__grid {
		display: flex;
		height: calc(100vh - 109.11px);
	}
	&__left {
		display: flex;
		flex-flow: column;
		width: 60%;
		margin-right: 3rem;
	}
	&__right {
		flex-grow: 1;
	}
	&__paper {
		background-color: $theme-accent-color;
		height: 100vh !important;
	}
}